.color1, .color2{
    width: 50px;
    height: 50px;
}

.blue{
    color: blue;
    background-color: blue;
}
.blue:hover{
    color:blue;
}
.red{
    color: red;
    background-color: red;
}
.red:hover{
    color:red;
}
.yellow{
    color: yellow;
    background-color: yellow;
}
.yellow:hover{
    color:yellow;
}
.green{
    color: green;
    background-color: green;
}
.green:hover{
    color:green;
}
.active1, .active2{
    border: 3px solid #333;
}