.color1, .color2{
    width: 80px;
    height: 80px;
}

.blue{
    background: radial-gradient(rgb(0, 0, 255) 0%, rgb(0, 0, 255) 20%, rgb(0, 0, 124) 100%);
    border: 5px solid rgb(0, 0, 140)
}
.red{
    background: radial-gradient(rgb(255, 0, 0) 0%, rgb(255, 0, 0) 20%, rgb(124, 2, 2) 100%);
    border: 5px solid rgb(140, 0, 0)
}
.yellow{
    background: radial-gradient(rgb(255, 255, 0) 0%, rgb(255, 255, 0) 20%, rgb(124, 124, 0) 100%);
    border: 5px solid rgb(140, 140, 0)
}
.green{
    background: radial-gradient(rgb(0, 128, 0) 0%, rgb(0, 128, 0) 20%, rgb(0, 77, 0) 100%);
    border: 5px solid rgb(0, 80, 0)
}
.active1, .active2{
    border: 5px solid #333;
}